<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    @Styles.Render("~/Dashboard/dashboard.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav>
        <div class="container-fluid" id="topNav">
            <div class="row">
                <div class="col-md-2">
                    <p style="color:white">Logo</p>
                </div>

                <div class="col-md-6" id="oldcontent">

                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled list-inline  account-border">
                        <li>
                            <p style="color:white">Account Area</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="dashboard">
        <div class="row">
            @Html.Action("NavBar", "Dashboard")
            <div class="col-md-10">

                <div class="row">
                    <div class="col-md-10" style="margin-left:20vw;">

                        @RenderBody()

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
