@using Microsoft.AspNet.Identity
@model MovieX.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Account", "Register" , "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>


    <tr style="color:white;">
        <td>
            @Html.DisplayFor(modelItem => modelItem.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = User.Identity.GetUserId().ToString() }) |
            @Html.ActionLink("Details", "Details", new { id = User.Identity.GetUserId().ToString() }) |
            @Html.ActionLink("Delete", "Delete", new { id = User.Identity.GetUserId().ToString() })
        </td>
    </tr>

</table>
